* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {}



.header .container {

    display: flex;
    justify-content: space-between;
}

.header {
    background: #222222;

}

.left_header {
    display: flex;
    align-items: center;

}

.logotip {
    padding: 18px 40px 18px 0px;
}

.right_header {
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    position: absolute;
    left: 1420px;
}

.nav-container {
    display: flex;
    justify-content: space-between;

    height: 62px;
}

.navbar .menu-items {
    display: flex;
    flex-direction: column;
    height: 763px;
    margin-top: 67px;
    background: #FFFFFF;
    padding-top: 36px;
    box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-150%);
    transition: transform 0.5s ease-in-out;
}

.navbar .nav-container li {
    list-style: none;
    padding-left: 54.5px;
    padding-right: 98px;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #6F6E6E;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}



.txt_menu_nav {
    padding-left: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

.navbar .nav-container ul a {
    display: flex;
    text-align: start;
    color: #F16D7F;
    margin-top: 20px;
}


.nav-container {
    display: block;
    position: relative;
    height: 60px;

}

.nav-container .checkbox {

    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}

.navbar .menu-items ul {
    padding-left: 33px;

}

.navbar .menu-items li {
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}


.nav_menu {
    padding-right: 33px;

}



.login {
    padding-right: 33px;
}

.top_main {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}



.txt_top_cont {
    display: flex;
    align-items: center;

}

.txt_top_main {
    padding-left: 16px;
    padding-right: 331px;
    line-height: 44px;
    color: #222222;
}

.brand {
    font-weight: 900;
}

.fashion {
    color: #F16D7F;
}

.group-card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: #F1E4E6;
    padding-top: 65px;
    padding-bottom: 96px;
}

.card {
    height: 260px;
    width: 360px;
}

.card_acc {
    height: 180px;
    width: 1140px;
}

.men_card {
    padding: 0 30px;
    padding-bottom: 30px;
}

.group-card p {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 105px 103px;
}

.colorit {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F16D7F;
}

.card_acc p {
    padding: 65px 490px;
}

a {
    text-decoration: none;
}

.colorit:hover {
    text-decoration: underline;
}


.txt_bot_top {}

.txt_feat {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.txt_shop {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.card-group-bot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card-body {
    position: absolute;
    top: 415px;
}

.card-bot {
    position: relative;
    margin: 30px;
    width: 360px;
    height: 581px;
    background: #F8F8F8;
}

.card-bot:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.card-bot a {
    color: #5D5D5D;
}

.card-bot h5 {
    color: #000000;
}



.card-bot img.card-img-top:hover,
.card-bot:hover img .card-img-top {
    filter: brightness(30%);
}

.add_in {
    display: flex;

    top: 98px;
    padding: 8px;
    border: 1px solid #F8F3F4;
    align-items: center;
    text-decoration: none;
}


.add_txt_basket {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 10px;
}

.add_box_cat {
    display: flex;
    justify-content: center;
}


.btn_bot_prod {

    border: 1px solid #FF6A6A;
    color: #FF6A6A;
    padding: 14px 38px;
    margin-top: 48px;
    margin-bottom: 95px;
    margin-left: 520px;
}

.btn:hover {
    border: 1px solid #FF6A6A;
    background-color: #F16D7F;
    color: #FFFFFF;
}

.black_line_bot {
    padding: 104px;
    background: #222224;

}

.your_pluses {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;

    color: #FBFBFB;
}

.your_plus img {
    padding-bottom: 25px;
}

.your_plus {
    width: 360px;
    height: 164px;
}

.footer {
    background-image: url(/img/photo\ subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F16D7F;
}

.footer_top {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_left {
    padding-top: 87px;
    padding-bottom: 126px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 360px;
    color: #222224;
}

.footer_left img {
    padding-bottom: 30px;
}

.txt_subs_bot {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: center;

    color: #222224;
}

.footer_right {
    padding-top: 150px;
    padding-bottom: 156px;
}

.txt_bold_subs {

    padding-left: 30%;
    font-size: 24px;
    font-weight: bold;
}

.input_form_bot {
    display: flex;
    flex-direction: row;
}

.input_form {
    border: 1px solid #E1E1E1;
    text-align: left;
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border-radius: 25px 0 0 25px;
    padding-left: 22px;
}

.btn_subs_bot {
    text-align: center;
    width: 100px;
    height: 49px;
    border: 1px solid #FF6A6A;
    border-radius: 0 25px 25px 0;
    color: #FF6A6A;
}

.footer_bot {

    background: #222224;
}

.cprt {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;

}

.list_link {

    display: flex;
    flex-direction: row;
}

.logo_link {
    background-color: #E1E1E1;
    margin: 7px;
    height: 32px;
    width: 32px;
}

.logo_link a {
    direction: none;
    color: #000000;
}

.fa-brands {
    padding: 9px;

}

.logo_link:hover {

    border: 1px solid #FF6A6A;
    background: #F16D7F;

}

.logo_link a:hover {
    color: #FFFFFF;
}

.footer_bot .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*product*/

.prod_top_main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt_prod_arriv {
    padding: 60px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.prod_top_main {
    background: #F8F3F4;
}

.nav-link {
    color: #636363;
}

.active_link_nav {
    color: #F16D7F;
}

.nav-link:active {
    color: #F16D7F;
}

.nav-link:hover {
    color: #F16D7F;
}


.top_filter_prod .container {
    display: flex;
    justify-content: flex-start;
}

.top_filter_prod p {
    padding-top: 11px;
}

summary {
    list-style-type: none;
    padding-top: 0;
    margin-top: 0;
}

.filter_det_main .hamburger-lines {
    height: 10px;
    width: 15px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter_det_main .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;

    background: #000000;
}

.filter_det_main .hamburger-lines .line2 {
    width: 70%;
}

.filter_det_main .hamburger-lines .line3 {
    width: 40%;
}

.pag_list {
    display: flex;
    justify-content: center;
    color: #C4C4C4;
    margin-top: 49px;
    margin-bottom: 95px;
}

.pagination {
    border: 1px solid #EBEBEB;
    color: #C4C4C4;
}

.pagination .page-link {
    text-decoration: none;
    color: #C4C4C4;
}